.avatars-initials {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-left: 5px;
  flex-grow: 6;
}

/* .app-bar {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr)
} */

.app-name {
  margin-left: 20px;
}

@media (max-width: 770px) {
  .app-name {
    display: none !important;
  }
}
