@media (max-width: 770px) {
    form {
        grid-template-columns: 90% !important;
        grid-template-rows: auto 1fr;
        justify-content: center;
        margin: auto;
    }

    .placeholder {
        display: none !important;
    }

    .plus-button {
        margin-left: 45% !important;
    }
}